.contact-and-photo {
    display: flex;
    width: 100%;
    gap: 10px;
    background-color: white;
    color: black !important;
    border-radius: 20px;
    padding: 2rem;
    margin: 100px auto;
    max-width: 1200px;
}
.contact-and-photo .button {
    color: black;

}
.contact-and-photo .field{
    margin-bottom: 10px;
    border-radius: 8px;
    
}
.contact-and-photo .field__input{
    background-color: rgb(218, 217, 217);
    border-radius: 8px;
}
.contact-and-photo .field::after,.contact-and-photo .field::before{
    display: none; 
}
.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-photo {
    width: 100%;
}

.contact-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-content h2 {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.contact-content__description {
    display: flex;
    gap: 20px;
    align-items: center;

}
.contact-content__description p{
    margin: 0;
}

.contact-content__description span {
    width: 20px;
    height: 20px;
}

.contact-content__description > span > svg {
    height: 100%;
    width: 100%;
}
@media (max-width:1000px) {
    .contact-and-photo {
    flex-direction: column;
    max-width: 80%;
    }
    }