.contact-and-photo {

    display: 
    flex;
    
    width: 
    100%;
    
    gap: 
    10px;
    
    background-color: 
    white;
    
    color: 
    black !important;
    
    border-radius: 
    20px;
    
    padding: 
    2rem;
    
    /* remove those two */
    
   /* max-width: 
    1200px;
    
    margin: 
    0 auto; */
    
    }
    
    
    
    .contact-info {
    
    width: 
    50%;
    
    display: 
    flex;
    
    flex-direction: 
    column;
    
    gap: 
    40px;
    
    }
    
    
    
    .contact-photo {
    
    width: 
    50%;
    
    }
    
    
    
    .contact-photo 
    img {
    
    height: 
    100%;
    
    width: 
    100%;
    
    object-fit: 
    cover;
    
    }
    
    
    
    .contact-content {
    
    display: 
    flex;
    
    flex-direction: 
    column;
    
    gap: 
    20px;
    
    }
    
    
    
    .contact-content 
    h2 {
    
    font-size: 
    40px;
    
    letter-spacing: 
    1px;
    
    font-weight: 
    600;
    
    }
    
    
    
    .contact-content__description {
    
    display: 
    flex;
    
    gap: 
    20px;
    
    align-items: 
    center;
    
    }
    
    
    
    .contact-content__description
    span {
    
    width: 
    20px;
    
    height: 
    20px;
    
    }
    
    
    
    .contact-content__description
    > 
    span > 
    svg {
    
    height: 
    100%;
    
    width: 
    100%;
    
    }